<!DOCTYPE html>
<html lang = "ro">
<head>

    <title> index.html </title>
    <meta name="keywords" content="Formula 1, F1, merch, echipe, șoferi"/>
    <meta name="description" content="Produse Formula 1"/>
    <%-include("../fragments/head.ejs"); %>
</head>
<body>
<%-include("../fragments/header.ejs"); %>
<main>
    <h1>404 - Doesn't exist!</h1>
</main>
<%-include("../fragments/footer.ejs"); %>
<button id="myBtn"><a href="#beginning" >&#9650;</a></button>
</body>
</html>
