<footer>
    <div id="end">
        <section id="contact">
            <h2>Contact!</h2>
            <a href="tel:+40722278440">Nu ezitați să ne apelați în intervalul orar 10:00-18:00!</a>
            <br/>
            <a href="https://goo.gl/maps/1wmvNUHaUy8HXBWK9" target="_blank">Ne găsiți aici!</a>
            <br/>
            <a href="mailto:alexandru-ionut.federicis@s.unibuc.ro">Scrie-ne un mail!</a>
            <br/>
            <a href="https://chat.whatsapp.com/J6DfB4sztpd7Yu3cVdAqfy">Alătură-te comunității dând join grupului nostru de WhatsApp!</a>

        </section>
        <section id="info">
            <h2>Informații</h2>
            <details>
                <summary>Ghid de mărimi</summary>
            </details>
            <br/>
            <details>
                <summary>Informații de livrare</summary>
                <p>Livrarea indiferent de locația din țară costă 15 lei.</p>
                <p>Pentru comenzile mai mari de 300 de lei livrarea este gratuită.</p>
            </details>
            <br/>
            <details>
                <summary>Informații de plată</summary>
                <p>Plata se poate realiza cash la sosirea curierului(cost suplimentar 3 lei) sau prin card bancar.</p>
            </details>
            <br/>
            <details>
                <summary>Schimbare și returnare</summary>
                <p>Poți să faci retur în decurs de 30 de zile de la primirea comenzii.</p>
            </details>
        </section>
        <br/>
        <a id="back" href="#beginning"> Către începutul paginii!</a>
        <p id="copyright"><small><time datetime="2022-02-26">&copy; 26 februarie 2022</time></small></p>
    </div>
</footer>